# .env 파일
OPENAI_API_KEY=sk-FeQOB*******************************************************uYUNsRlXmB
LANGSMITH_API_KEY=lsv2_*******************************************************f5756
TAVILY_API_KEY=tvly-************************2Oh